name: Comment on New PRs

on:
  pull_request:
    types:
      - opened
      - edited
    branches:
      - main

jobs:
  comment:
    name: Comment on the PR
    runs-on: ubuntu-latest

    permissions:
      issues: write
      pull-requests: write

    steps:
      - name: Dump the context
        uses: actions/github-script@v6
        with:
          script: |
            core.info(JSON.stringify(context, null, 2))

            core.info('This is a new feature from the new-feature branch!')
            
            github.rest.issues.createComment({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              issue_number: context.payload.number,
              body: 'Thank you for the PR!'
            })
